*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.home{
    display: flex;
    /* display: none; */
    align-items: center;
}
.latesttravel{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    /* flex-direction: column; */
    align-items: center;
    /* background-color: aqua; */
    justify-content: space-between;
}
.homebolly{
    width: 80vw;
    /* background-color: gainsboro; */
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-around;
}

.box1{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 40px;
    /* background-color: blue; */
}
.box2{
    text-align: center;
    /* background-image: linear-gradient(
        aqua,
        green,
        yellow
    ); */
    color: white;
    background-image: url('https://i.pinimg.com/originals/bd/35/a4/bd35a4aacabda5be36dd54b3c39942e1.jpg');
    /* height: 900px; */
    background-size: cover;
    font-size: 20px;
    width: 400px;
    background-position: center;
    border: 2px solid black;
    margin-top: 30px;
}
.hometechno{
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width:800px) {
    .latesttravel{
        flex-direction: column;
        align-items: center;
    }
    .hometechno{
        flex-direction: column;
    }
    .homebolly{
        /* background-color: aqua; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box1{
        width: 280px;
        flex-direction: column;
        align-items: center;
    }
    .box2{
        display: none;
    }
}