.singletravel{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.singletrvelimg{
    height: 60vh;
    width: fit-content;
    border: 20px ridge black;
}
.singletravelpara{
    padding: 40px;
    border-left: 10px ridge #79E0EE;
    border-right: 10px ridge #79E0EE;
    width:60vw;
    text-align: left;
    /* background-color: aqua; */
    
}
@media (max-width:800px) {
    /* .singletrvelimg{ */
       /* width: 90%; */
    /* } */
    .singletravelpara{
        width: 90vw;
        padding: 10px;
    }
}